# lib-build
lib

# Other
other

# coverage
coverage

# IDE
.idea

# Dependency directory
node_modules

# package-lock
package-lock.json

# Optional npm cache directory
.npm

*.log
npm-debug.log*

# .env
.env
