# src-es6
src

# Other
other

# coverage
coverage

# bable
.babelrc

# eslintrc
.eslintrc.js

# IDE
.idea

# Dependency directory
node_modules

# package-lock
package-lock.json

# Optional npm cache directory
.npm

*.log
npm-debug.log*

# .env
.env
